/* General Layout */
:root {
  --bs-font-sans-serif: "Inter",
  sans-serif;
  --bs-primary: #ffb000;
  --bs-secondary: #6c757d;
  --bs-danger: #ff6692;
  --bs-body-font-size: 0.875rem;
--bs-body-font-weight: 400;
--bs-body-line-height: 1.5;
--bs-body-color: #111c2d99;
--bs-body-bg: #fff;
--bs-border-color: #e4ebf0;
--bs-heading-color: #111c2d;
--bs-border-radius: 7px;
  --bs-gutter-x: 24px;
  --bs-btn-font-size: 0.875rem;
  --bs-card-spacer-y: 30px;
  --bs-card-spacer-x: 30px;
  --bs-card-border-width: 0px;
  --bs-success-rgb: 19,222,185;
  --bs-primary-rgb: 255, 176, 0;
  --bs-light-rgb: 246,249,252;
  --bs-dark-rgb: 42,53,71;
}

h1 {
  font-size: 2rem;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}

.gradient-card {
  background: linear-gradient(135deg, #00b415, #3e7044);
}
.gradient-card-1 {
  background: linear-gradient(135deg, #ffb000, #ff7f50);
}

.gradient-card-2 {
  background: linear-gradient(135deg, #0b9ba5, #48c6ef);
}

.gradient-card-3 {
  background: linear-gradient(135deg, #6a82fb, #fc5c7d);
}
.card-title {
  color: white;
}

.btn-light {
  background-color: rgba(255, 255, 255, 0.8); /* Light button background */
  border: none;
  color: #0b9ba5; /* Button text color */
}

.btn-light:hover {
  background-color: rgba(255, 255, 255, 1); /* Change on hover */
}

.container {
  padding-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tablecontainer {
  padding-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table td .form-check-input {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 1.25em;
  height: 1.25em;
}

table {
  table-layout: auto;
  max-width: 100%;
  height: auto;
  border-collapse: collapse;
}

/* Button and Checkbox Styling */
.btn-primary {
  background-color: #ffb000;
  border-color: #ffb000;
}

.btn-primary:hover {
  background-color: #d99600;
  border-color: #d99600;
}

.btn-success {
  background-color: #00b415;
  border-color: #00b415;
}

/* Approved Badge (Green) */
.badge.rounded-pill.approved {
  background-color: #00b415;
  color: #fff;
}

/* Disapproved Badge (Red) */
.badge.rounded-pill.disapproved {
  background-color: #e02329;
  color: #fff;
}

/* Pending Badge (Gray) */
.badge.rounded-pill.pending {
  background-color: #929292;
  color: #fff;
}

/* Sidebar Styling */
#sidebar {
  width: 290px;
  background-color: #00542f;
  transition: width 0.3s, height 0.3s;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed; /* Make the sidebar fixed */
  left: 0; /* Fixed to the left */
  top: 0; /* Align to the top */
  border-radius: 0;
  overflow-x: hidden;
  z-index: 1000; /* Ensure it stays above other content */
}

#sidebar.collapsed {
  width: 90px;
  overflow: hidden;
}

/* Hide text when sidebar is collapsed */
#sidebar.collapsed .hide-menu,
#sidebar.collapsed .profile-name {
  display: none;
}

#sidebar .sidebar-item a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

/* Yellow background for active (selected) item */
#sidebar .sidebar-item a.active,
#sidebar .sidebar-item a:hover {
  background-color: #ffa500; /* Yellow color */
  color: #ffffff;
}

/* Profile container styling */
.profile-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

/* Tooltip Styling */
.sidebar-item {
  position: relative; /* Ensure tooltip aligns correctly */
}

.submenu {
  display: none;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.85rem;
}

.submenu a {
  color: #ffffff;
  text-decoration: none;
  padding: 1px 0;
  line-height: 1;
}

/* Show submenu */
.show-submenu .submenu {
  display: flex;
}

.page-wrapper {
  transition: margin-left 0.3s; /* Smooth transition for margin */
}

/* Adjust main content position based on sidebar state */
.main-content {
  margin-left: 290px; /* Default margin for sidebar */
  transition: margin-left 0.3s; /* Smooth transition for sidebar */
}

.main-content.collapsed {
  margin-left: 90px; /* Adjust the margin when sidebar is collapsed */
}
