/* General Layout */

h1 {
  font-size: 2rem;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}

.gradient-card {
  background: linear-gradient(135deg, #00b415, #3e7044);
}
.gradient-card-1 {
  background: linear-gradient(135deg, #ffb000, #ff7f50);
}

.gradient-card-2 {
  background: linear-gradient(135deg, #0b9ba5, #48c6ef);
}

.gradient-card-3 {
  background: linear-gradient(135deg, #6a82fb, #fc5c7d);
}
.card-title {
  color: white;
}

.btn-light {
  background-color: rgba(255, 255, 255, 0.8); /* Light button background */
  border: none;
  color: #0b9ba5; /* Button text color */
}

.btn-light:hover {
  background-color: rgba(255, 255, 255, 1); /* Change on hover */
}

.container {
  padding-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tablecontainer {
  padding-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table td .form-check-input {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 1.25em;
  height: 1.25em;
}

table {
  table-layout: auto;
  max-width: 100%;
  height: auto;
  border-collapse: collapse;
}

/* Button and Checkbox Styling */
.btn-primary {
  background-color: #ffb000;
  border-color: #ffb000;
}

.btn-primary:hover {
  background-color: #d99600;
  border-color: #d99600;
}

.btn-success {
  background-color: #00b415;
  border-color: #00b415;
}

/* Approved Badge (Green) */
.badge.rounded-pill.approved {
  background-color: #00b415;
  color: #fff;
}

/* Disapproved Badge (Red) */
.badge.rounded-pill.disapproved {
  background-color: #e02329;
  color: #fff;
}

/* Pending Badge (Gray) */
.badge.rounded-pill.pending {
  background-color: #929292;
  color: #fff;
}
