/* Sidebar Styling */
#sidebar {
  width: 290px;
  background-color: #00542f;
  transition: width 0.3s, height 0.3s;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed; /* Make the sidebar fixed */
  left: 0; /* Fixed to the left */
  top: 0; /* Align to the top */
  border-radius: 0;
  overflow-x: hidden;
  z-index: 1000; /* Ensure it stays above other content */
}

#sidebar.collapsed {
  width: 90px;
  overflow: hidden;
}

/* Hide text when sidebar is collapsed */
#sidebar.collapsed .hide-menu,
#sidebar.collapsed .profile-name {
  display: none;
}

#sidebar .sidebar-item a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

/* Yellow background for active (selected) item */
#sidebar .sidebar-item a.active,
#sidebar .sidebar-item a:hover {
  background-color: #ffa500; /* Yellow color */
  color: #ffffff;
}

/* Profile container styling */
.profile-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

/* Tooltip Styling */
.sidebar-item {
  position: relative; /* Ensure tooltip aligns correctly */
}

.submenu {
  display: none;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.85rem;
}

.submenu a {
  color: #ffffff;
  text-decoration: none;
  padding: 1px 0;
  line-height: 1;
}

/* Show submenu */
.show-submenu .submenu {
  display: flex;
}

.page-wrapper {
  transition: margin-left 0.3s; /* Smooth transition for margin */
}

/* Adjust main content position based on sidebar state */
.main-content {
  margin-left: 0; /* Remove left margin for main content */
  transition: margin-left 0.3s; /* Smooth transition for sidebar */
}

.main-content.collapsed {
  margin-left: 90px; /* Adjust the margin when sidebar is collapsed */
}

/* Responsive Styles */
@media (max-width: 768px) {
  #sidebar {
    width: 100%; /* Full width on mobile */
    height: auto; /* Adjust height */
    position: relative; /* Change to relative for mobile */
  }

  #sidebar.collapsed {
    width: 0; /* Hide sidebar when collapsed */
  }

  .main-content {
    margin-left: 0; /* No margin when sidebar is hidden */
  }
}
